/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital@0;1&display=swap');

body {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
